@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #e5e7eb; /* Tailwindのgray-200相当 */
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --border: #262626; /* Tailwindのneutral-800相当 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
